.accordion {
  display: flex;
  width: 33.625rem;
  height: 3.8125rem;
  padding: 0.625rem 1.25rem;
  align-items: center;
  border-radius: 0.625rem;
  border: 2px solid var(--border-color);
  background: var(--button-background-color);
  font-size: var(--font-size-medium);
  gap: 1rem;
}

.accordion--active {
  height: 9rem;
}

.accordion--svg {
  width: 2rem;
  height: 0.6875rem;
  flex-shrink: 0;
  bottom: 0.1rem;
}
.accordion--svg__active {
  rotate: 180deg;
}
