.breadcrumbs--box{
    display: flex;
    flex-direction: row;
    color: var(--border-color);
    
}

.breadcrumbs{
    display: flex;
    flex-direction: row;
    font-size: var(--font-size-base);
    
    
}
.breadcrumbs--hovered,
.breadcrumbs--text:hover{
    color: var(--foreground-hovered);
}
.breadcrumbs--text{
  transition: color 150ms ease-in-out;

}