.button {
  display: inline-flex;
  padding: 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  transition: 150ms ease;
  width: 6.4375rem;

}

.button:hover,
.button--hover {
  border-radius: 0.3125rem;
  background-color: var(--button-background-color);
  
}

