.button {
  display: inline-flex;
  padding: 0.625rem 1.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.3125rem;
  background-color: var(--button-background-color);
}

.button:hover,
.button--hover {
  color: var(--button-hover-foreground);
}
