@font-face {
  font-family: "Inter";
  src: url("../assets/Inter/Inter-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/Inter/Inter-Bold.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/Inter/Inter-ExtraBold.woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/Inter/Inter-Black.woff2");
  font-weight: 700;
  font-style: normal;
}
